<style>
        *{
            padding: none;
            margin: none;
        }
        body{
            font-family: sans-serif;
            background:url(https://i.pinimg.com/originals/89/ab/f2/89abf2fc2254e5e10aaaac6331c07e96.gif);
            padding-left: 50px;
            margin-right: 50px;
        }
        .leftbar{
            width: 45px;
            height:45px;
            background-image: url('https://bestanimations.com/media/stars/985783246stars-sky-space-gif-26.gif');
            position:absolute;
            left: 0%;
            top:0%;
        }
        .menubutton button{
            background: transparent;
            border:none;
            color:white;
            cursor:pointer;
            position: absolute;
            left: 0px;
            top:0px;
            height: 45px;
            width: 45px;
        }
        .menubutton{
            position: absolute;
            top:0%;
        }
        .menubutton:hover{
            background-color: rgba(10, 12, 30);
        }
        .menubutton button:hover{
            background-color: rgba(62, 91, 14, 0.4);
        }
        .menubutton button i{
            font-size: 24px;
            text-decoration: none;
        }
        .leftbar .menubutton button:focus .leftbar{
            width: 720px ;
        }
        .topbar1{
            width: 1491px;
            background-image: url('https://bestanimations.com/media/stars/985783246stars-sky-space-gif-26.gif');
            height: 45px;
            position:absolute;
            top:0%;
            left: 45px;
        }
        .topbar2{
            width: 1403px;
            background-image: url('https://bestanimations.com/media/stars/985783246stars-sky-space-gif-26.gif');
            height: 45px;
            position: absolute;
            top:0%;
            left:233px;
        }
        .leftmenu{
            width: 233px;
            height: 100%;
            background-image: url('https://bestanimations.com/media/stars/985783246stars-sky-space-gif-26.gif');
            position: fixed;
            top: 0%;
            left: 0%;
            border:3px solid rgb(2, 0, 13);
            z-index:9;
        }
        .leftmenu h2{
            color: aliceblue;
            position: fixed;
            left: 65px;
            top: -10px;
        }
        .profile1{
            width:233px;
            height: 60px;
            position:fixed;
            top:65px;
            left: 15px;
        }
        .profile1 img{
            max-height: 80%;
            border-radius: 50%;;
        }
        .profile1 strong{
            color: aliceblue;
            position: fixed;
            left: 80px;
        }
        .profile1 p{
            color: aliceblue;
            position: fixed;
            left: 80px;
            top:80px;
            font-size: 12px;
        }
        .leftmenu table{
            position: fixed;
            top: 150px;
            left:0;
        }
        .leftmenu td{
            height: 45px;
            width: 233px;
            border: none;
        }
        .leftmenu td p{
            padding-left: 10px; 
            padding-top: 15px;
        }
        .profile1 i{
            color: green;
            font-size: 8px;
        }
        .heading{
            background-color: rgb(2, 0, 13) ;
            width: 235px;
            height:45px;
            color:rgb(17, 75, 155);
        }
        .options{
            color: white;
            width: 235px;
            height:45px;
        }
        .options a{
            color:aliceblue;
        }
        .leftmenu tr{
            border: none;
        }
        .leftmenu table{
            padding: none;
        }
        a{
            text-decoration: none;
        }
        .leftmenu li{
            list-style: none;
            padding : none;
            background-:transparent;
            border-bottom: 1px solid (2,0,13,0.5);
            width:100px;
        }
        .leftmenu ul{

        }
        .sub{
            display: none;
            color:white;
        }
        .main:hover .sub{
            display:block;
        }
        .options button{
            background: transparent;
            border: none;
            color: white;
            font-size: 17px;
            padding-left: 10px;
            padding-top: 15px;
            height:20px;
        }
        .options button ul li{
            color: white;
        }
        .options ul:hover, .options li:hover{
            color: rgb(0, 255, 34);
        }
        .options button ul li:hover{
            color: rgb(0, 255, 34);
        }
        .options p:hover{
            color: rgb(0, 255, 34);
        }
        .mainbody1{
            width: 100%;
            height:100%;
            padding: 35px 35px;
            overflow: hidden;
        }
        .mainbody2{
            position: absolute;
            top:45px;
            left: 150px;
            max-width: 100%;
            max-height: 100%;
            overflow: scroll;
        }
        .head{
            width:1180;
            height: 45px;
            position: fixed;
            left: 266px;
        }
        .boxes{
            margin-left: 100px;
            position: fixed;
            height:130px;
            top:90px;
            border-bottom:3px solid dodgerblue;
            padding-bottom: 80px;
        }
        .boxo{
            width:270px;
            height:130px;
            margin-left:25px;
            margin-top: 13px;
            display: inline-block
        }
        
        .boxo h1, .boxo1 h1{
            margin-left: 15px;
            padding-top: 9px;
            margin-right: 0px;
            padding: none;
        }
        .boxo p, .boxo1 p{
            margin-left: 15px;
            width:65%;
            margin-right: 0%;
        }
        .boxo .up i, .boxo1 .up i{
            float: right;
            font-size: 80px;
            position: relative;
            bottom:85px;
            right:10px;
        }
        .head1{
            width:1340px;
            min-height: 45px;
            position: fixed;
            left: 0px;margin-left: 60px;
            overflow: hidden;
        }
        .boxes1{;
            position:fixed;
            border-bottom:3px solid dodgerblue;

        }
        .boxo1{
            width:300px;
            height:130px;
            margin: 60px 15px;
            display: inline-block
        }
        .boxes .up, .boxes1 .up{
            width: 100%;
            height: 80%;
        }
        .boxes .down, .boxes1 .down{
            height:20%;
            width:100%;
        } 
        .up:hover .fa{
            font-size: 100px;
        }
        .down a{
            color:white;
            position: relative;
            left:35%;
            top:10%
        }
        .down:hover{
            opacity: 70% ;
        }
       .graph{
            max-width:1180px;
            min-width:980px;
            height:400px;
            position: fixed;
            left:280px;
            top: 330px;
       }
       .graph1{
        width:1340px;
        height:400px;
        position: fixed;
        left:15px;
        top: 325px;
        left: 60px;
        margin-left: 40px;
   }
   .graph1 .rt1{
        position: fixed;
        right:75px;
        top:350px;
   }
   .graph1 select{
        border-color:lightgray ;
   }
   .graph .rt1{
        position: fixed;
        right:75px;
        top:350px;
    }
    .graph select{
        border-color:lightgray ;
    }
   .bars{
    border: 6px solid dodgerblue;
    height:280px;
    overflow-y: scroll;
    position: fixed;
    width:1350px;
    background-color: aliceblue;
   }
   .bars table tr{
    padding-bottom: 10px;
   }
   .bars1{
    border: 6px solid dodgerblue;
    height:280px;
    overflow: scroll;
    position: fixed;
    width:1160px;
    background-color: aliceblue;
   }
   .ppp:hover{
        opacity:70%;
        color: black;
   }
   .salesbody{
    position: absolute;
    top: 65px;
    background-color: white;
    padding: 50px;
    float: left;
    border-radius: 15px;
   }
   .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    color: white;
}

.glow-on-hover:active {
    color: white;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
    color: white;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
    color: white;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

   .spacer , .salesbody{
    display: inline-block;
    height: auto;
    vertical-align: top;
   }
   .salesbody p,.salesbody h2{
    display: inline-block;
   }
   .salesbody p{
    float: right;
    padding: 0;
    margin: 0;
    color: rgb(50,50,50);
    font-size: 12px;
    margin-top:15px;
   }
   .salesbody h2{
    padding: 0;
    margin: 0;
    color: rgb(50,50,50);
   }
   .head3{
    padding-bottom: 20px;
    border-bottom:3px solid dodgerblue ;
   }
   .periodchooser{
    float:right;
    border:1px solid lightgray;
    margin-top:15px ;
   }
   .periodchooser i{
    font-size: 21px;
    padding: 5px 5px;
    color: gray;
   }
   .periodchooser input{
    font-size: 17px;
    padding: 6px 5px;
    color:gray;
    border:none;
   }
   .periodchooser input:focus{
    border: 0;
    outline: 0;
   }
   .s11 input:focus .s111 input:focus{
    border: 2px solid lightgray;
    outline: 0;
   }
   .s11{
    position:relative;
    float: right;
    left:18%;
    top:80px;
    padding:0;
    margin: 0;
   }
   .s111{
    position:relative;
    float: right;
    left:0%;
    top:80px;
    padding:0;
    margin: 0;
   }
   .s22{
    position:relative;
    top:68px;
    left:0px;
    padding:0;
    margin: 0;
    float: left;
   }
   .s11 input, .s111 input{
    border:1px solid lightgray;
    padding: 5px 10px;
   } 
   .s22 select{
    border: 1px solid lightgray;
   }
   .s22 select:focus{
    border: 1px solid lightgray;
    outline: 0;
   }
   .s11 , .s22 , .s111{
    display: inline-block;
    padding: 0;
    margin:0;
    vertical-align: top;
   }
   .applyBtn , .cancelBtn{
    background-color: dodgerblue;
   }
   
   .transtable td:not(:first-child), .transtable th:not(:first-child){
    width:20%;
    text-align: center;
    padding-bottom: 7px;
    padding-top:7px;
    font-size: 12px;
    border:1px solid lightgray;
   }
   .transtable1 table, .transtable table, .transtable3 table, .transtable2 table{
        border-collapse:collapse;
        background-color:rgba(169, 176, 255, 0.115);
   }
   .transtable1 td:not(:first-child), .transtable1 th:not(:first-child){
    width:17%;
    text-align: center;
    padding-bottom: 7px;
    padding-top:7px;
    max-height: 40px;
    font-size: 12px;
    border:1px solid lightgray;
   }
   .transtable1, .transtable, .transtable2, .transtable3{
    max-height: 323px;
    overflow-y: scroll;
   }
   .transtable3 td:not(:first-child), .transtable3 th:not(:first-child){
    width:50%;
    text-align: center;
    padding-bottom: 7px;
    padding-top:7px;
    max-height: 100px;
    font-size: 12px;
    border:1px solid lightgray;
   }
   .transtable, .transtable1 , .transtable3{
    position: relative;
    top:100px;
    float: left;
    font-size: 12px;
   }
   
   .transtable button, .transtable1 button , .transtable3 button{
    background-color: rgb(62, 202, 62);
    border:0;
    padding: 4px 4px;
    letter-spacing: 1px;;
   }
   .transtable th .fa ,.transtable1 th .fa , .transtable3 th .fa{
    color: gray;
    float: right;
    font-size: 12px;
    margin:0;
   }
   .transtable td .fa ,.transtable1 td .fa , .transtable3 th .fa{
    color: rgb(252, 249, 249);
    float: right;
    font-size: 12px;
    margin:0;
   }
   .transtable td button ,.transtable1 td button, button.addprf, .transtable3 td button{
    color: rgb(246, 244, 244);
   }
   .transtable td button ,.transtable1 td button , .transtable3 td button{
    margin-left: 3px;
    font-size: 12px;
   }
   .transtable:hover, .transtable1:hover , .transtable3:hover{
    box-shadow:7px 7px 13px rgb(161, 162, 163);
   }
   .transtable img, .transtable1 img {
    max-width: 20%;
    max-height: 20%;
   }
   button.addprf{
    background-color: dodgerblue;
    border:1px solid lightgray;
    position: relative;
    padding: 5 10;
    left: -120px;
    top:25px
   }
   button.addprf:hover{
    opacity:70%;
   }
   button:hover{
    cursor:pointer;
   }
   ul{
    padding-left: 10px;
    padding-top: 15px;
    list-style: none;
   }
   li{
    list-style: none;
   }
   li.sub:hover{
    color: rgb(0, 255, 34);
   }
   input:focus{
    border:2px solid dodgerblue;
    outline: 2px solid dodgerblue;
    border-radius: 3px;
   }
   .popup, .popup1, .popup2, .popup5{
    width: 700px;
    height: 180px;
    border: 1px solid lightgray;
    position: fixed;
    top:-400px;
    left:26%;
    visibility: hidden;
    border-radius: 18px;
    background:url(https://i.pinimg.com/originals/89/ab/f2/89abf2fc2254e5e10aaaac6331c07e96.gif);
   }
   .popup3, .popup4{
    width: 700px;
    height: 600px;
    border: 1px solid lightgray;
    position: fixed;
    top:45px;
    left:26%;
    visibility: hidden;
    border-radius: 18px;
    background:url(https://i.pinimg.com/originals/89/ab/f2/89abf2fc2254e5e10aaaac6331c07e96.gif);
   }
   .popup6{
    width: 700px;
    border: 1px solid lightgray;
    position: fixed;
    top:45px;
    left:26%;
    border-radius: 18px;
    background:url(https://i.pinimg.com/originals/89/ab/f2/89abf2fc2254e5e10aaaac6331c07e96.gif);
    visibility: hidden;
   }
   
   .show{
   visibility: visible;
   }
   .popup6 table td:not(:first-child){
        width:17%;
        color: white;
   }
   .popup6 table td:first-child{
    width:49%;
    color: white;
}
   .popup6 table th{
    width:17%;
    color: lightblue;
    text-align:left;
   }
   .popup6 table th:first-child{
    width:49%;
    color: lightblue;
}
   .popup6 table{
    width:100%;
   }
   .WebContainer{
    width: 100%;
    height:auto;
   }
   .articles{
    width:90%;
    height:auto;
    width:auto;
   }
   #image-editor{
    height: 20px;
    width: 20px;
   }
   #lastsub:hover{
    opacity: 100%;
   }
   .edit-options-tab{
    border: 1px solid yellowgreen;
    border-radius: 3%;
    width: fit-content;
    background-color: aliceblue;
    display: inline-flex;
    height: 26.7px;
   }
   .icons{
    margin: 5 5;
    cursor: pointer;
    color: cyan;
    border-right: lightgreen;
    background-color: transparent;
    border: none;
   }
   .icons:focus{
    outline: none;
   }
   .icons:hover{
    mix-blend-mode:difference;
   }
   textarea:focus{
    border: 2px solid dodgerblue;
    outline: dodgerblue;
   }
   #hel1{
    position: fixed;
   }
   pre.no-hover:hover{
    color: darkgoldenrod;
   }
   .box-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
    </style>